body{
    background-image: url(https://cdn.shopify.com/s/files/1/0305/4075/9177/products/papel-de-parede-adesivo-floral-minimalista-verde-n08038-617118.jpg?v=1643336646);
    margin: 5px;
    margin-left: 40px;
    margin-right: 40px;
}

hr{
    border-width: 3px;
    border-color: rgb(100, 179, 108);
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}

.class{
    color: aqua;
}

.local{
    font-size: 25px;
}

a{
        text-decoration: none;
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 20px;
        background-color: rgb(113, 187, 131);
        color: black;
        border-radius: 10px;
        border-color: rgb(3, 52, 15);
        border-style: solid;
        border-width: 3px;
        padding: 5px 10px
        
    }
