body{
    margin: 0px;
    background-color: rgb(230, 230, 230);
}

.cabecalho{
    position: fixed;
    width: 1550px;
    height: 100px;
    border: 1px solid #87dbff;    
    background-color: #87dbff;
    margin-left: 0px;
    margin-right: 0px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.505), -1em 0 0.4em rgb(255, 255, 255);
    align-items: center;
    display: flex;


}

.logo{
    margin-left: 30px;
    align-items: center;
    margin-top: 0px;
}

.icones{
    display: inline-flex;
    margin-left: 1100px;
    align-items: center;
}

.banner{
    background-image: url(https://qualidadeonline.files.wordpress.com/2014/01/parque.jpg);
    background-size: cover;
}
h1{
    font-family: 'Quicksand', sans-serif;
    font-size: 60px;
    text-align: center;
    color: white;
}

h2{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.retangulo{
        width: 500px;
        height: 350px;
        border: 1px solid #000000;    
        background-color: rgba(0, 0, 0, 0.634);
        margin-left: 520px;
        text-align: center;
}

.titulo{
    font-size: 40px;
    color: rgb(0, 0, 0);
    font-family: 'Quicksand', sans-serif;
    border: solid;
    background-color: aliceblue;
    border-color: #000000;
}

.imagens{
    text-align: center;
}

.avaliacao{
    background-color: rgb(8, 0, 116);
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 0px 0px 0px;
}

.nomes{
    text-align: center;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 120px;
    margin-right: 120px;
    color: white;
}

.comentarios{
    color: rgb(206, 255, 253);
    font-size: 40px;
}

.iconess{
    display: inline-flex;
    margin-left: 70px;
    align-items: center;
    text-align: left;

}

.logofinal{
    text-align: right;

}

