body{
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    background-color: rgba(227,201,164,255); 
    margin-bottom: 0px;
}

.logo{
    text-align: center;
    background-image: url(https://static.vecteezy.com/system/resources/previews/006/915/118/original/minimalist-style-hand-painted-liquid-background-free-vector.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   
}

h2{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    font-family: 'Crimson Text', serif;
    font-size: 40px;
    text-align: center;
}

hr{
    border-color: rgba(173,139,114,255);
    border-width: 8px;
}

h3{
    font-size: 28px;
text-align: center;
margin-left: 26px;
}

p{
    font-size: 20px;
    margin-left: 40px;
}

.coluna{
    width: 436px;
    float: left;
    margin-right: 130px;
    margin-left: 130px;
    border: 10px;
    border-style: double;
    border-color: rgb(31, 23, 17);
    background-color: rgba(254,251,232,255);

}
.row {
    display: flex;
    justify-content: space-around;
}
.row::after {
    text-align: center;
    content: "";
    clear: both;
    display: table;
}

.texto1{
    margin-left: 2px;
    margin-right: 38px;
    text-align: center;
}

.texto2{
    margin-right: 40px;
    margin-left: 17px;
    text-align: center;
}

.texto3{
    margin-right: 50px;
    margin-left: 17px;
    text-align: center;
}

.texto4{
    margin-right: 50px;
    margin-left: 17px;
    text-align: center;
}

.texto5{
    margin-right: 50px;
    margin-left: 17px;
    text-align: center;
}

.coluna1{
    width: 450px;
    float: left;
    margin-right: 150px;
    margin-left: 130px;
    border: 10px;
    border-style: double;
    border-color: rgb(31, 23, 17);
    background-color: rgba(254,251,232,255);
    
}

.coluna3{
    width: 450px;
    float: left;
    margin-right: 10px;
    margin-left: 60px;
    border: 10px;
    border-style: double;
    border-color: rgb(31, 23, 17);
    background-color: rgba(254,251,232,255);
    
}

.coluna4{
    width: 440px;
    float: left;
    margin-right: 23px;
    margin-left: 240px;
    border: 10px;
    border-style: double;
    border-color: rgb(31, 23, 17);
    background-color: rgba(254,251,232,255);
    
}

.coluna5{
    width: 440px;
    float: left;
    margin-left: 450px;
    border: 10px;
    border-style: double;
    border-color: rgb(31, 23, 17);
    background-color: rgba(254,251,232,255);
    
}

.a1{
        font-size: 20px;
        background-color: rgb(218, 167, 108);
        color: rgb(0, 0, 0);
        border-radius: 20px;
        border-color: rgb(94, 69, 46);
        border-style: solid;
        padding: 5px 8px;
        margin-left: 25px;
        text-decoration: none;
}

.a2{
    font-size: 20px;
        background-color: rgb(218, 167, 108);
        color: rgb(0, 0, 0);
        border-radius: 20px;
        border-color: rgb(94, 69, 46);
        border-style: solid;
        padding: 5px 8px;
        margin-left: 40px;
        text-decoration: none;
}

.a3{
    font-size: 20px;
        background-color: rgb(218, 167, 108);
        color: rgb(0, 0, 0);
        border-radius: 20px;
        border-color: rgb(94, 69, 46);
        border-style: solid;
        padding: 5px 8px;
        margin-left: 40px;
        text-decoration: none;
}

.a4{
    font-size: 20px;
        background-color: rgb(218, 167, 108);
        color: rgb(0, 0, 0);
        border-radius: 20px;
        border-color: rgb(94, 69, 46);
        border-style: solid;
        padding: 5px 8px;
        margin-left: 50px;
        text-decoration: none;
}

.a5{
    font-size: 20px;
        background-color: rgb(218, 167, 108);
        color: rgb(0, 0, 0);
        border-radius: 20px;
        border-color: rgb(94, 69, 46);
        border-style: solid;
        padding: 5px 8px;
        margin-left: 40px;
        text-decoration: none;
}
